body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  background-color: rgb(244, 241, 241);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.toaster-container {
  background-color: white;
  border-radius: 0.5rem;
  width: 20rem;
  display: flex;
  padding: 0px 10px;
  justify-items: center;
  align-items: center;
  column-gap: 15px;
  position: relative;
  -webkit-box-shadow: 0px 0px 50px 5px rgba(131, 130, 130, 0.4);
  box-shadow: 0px 0px 50px 5px rgba(131, 130, 130, 0.4);
}

#check-icon {
  fill: #6bd06b;
}

#error-icon {
  fill: #d42020;
}

.toaster-text {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.close-icon {
  position: absolute;
  right: -8em;
  top: 0.7em;
  cursor: pointer;
  height: 0.9em;
  fill: #a3a3a3;
}

.progress-bar {
  width: 0%;
  height: 0.3em;
  position: absolute;
  bottom: 0;
  left: 0.04em;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

#success-bottom-border {
  background-color: #6bd06b;
}
#warn-bottom-border {
  background-color: #fc970a;
}
#error-bottom-border {
  background-color: #d42020;
}
